*{
    margin: 0px;
    padding: 0px;
}
.logo{
    color:rgb(244, 246, 248);
}.nav-bar{
 padding: 8px;
 display:flex;
 justify-content: space-between;
 background-color:rgb(0, 0, 0);

}
.icons{
padding: 6px;
display: flex;
justify-content: space-between;
}
.icons i{
    margin: 0px 30px;
}