

body {
  margin: 0;
  font-size: small;
  row-gap: 20px;
  background-color: #111;
  font-family: 'Segoe UI', sans-serif;
  color: #ccc;
}
header {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-between;
  width:100%;
  padding: 2rem;
}

header h1 {
  color: white;
  margin-left: 5rem;

}

nav .icons {
  gap: 0px 5rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-right: 5rem;
  font-size: xx-large;
}

nav a{
  text-decoration: none;
  color:white;
}

.coarousal-logo {
  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 2rem;
}

.carousel-item {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.carousal h1 {
  font-size: 8rem;
  font-weight: 600;
  position: absolute;
  top: -40px;
  z-index: -1;
}

.carousal p {
  margin: 0px;
}

.log-options {
  display: none;
}

/* feature products starts here */
.featurep{
  width:100%;
  height:100%;
}
.featurep tr{
  width:auto;
  display: flex;
  height: 600px;
  column-gap: 5rem;
}

td {
  height: 700px;
  padding: 10px;
}

td p {
  display: flex;
  flex-wrap: wrap;
  font-size:x-large;
}

td img {
  height: 200px;
  object-fit: fill;
}

td div {
  color: white;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.p3 {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
}
.p3 img{
  height:80%;
}
.p3 div {
  font-size: xx-large;
}

.p2 img{
  height:60%;
}
.p2 {
  width:20%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p2 div {
  font-size: x-large;
}

.p1 img{
  height:40%;
}
.p1 {
  width:10%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p1 div {
  font-size: larger;
}
/* feature products ends here */

/* box style starts here */
.box {
  width: 500px;
 height: auto;
  border: 2px solid rgb(69, 63, 63);
  padding:1rem;
  border-radius: 3px;
}

.card-parent{
  width:100%;
  display: flex;
  justify-items: center;

}
.cards {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 5rem;
  /* padding: 20px; */
}

.box .product-img {
  height: 300px;
  width: 300px;
  margin: auto;
  justify-content: center;
  display: flex;
}

.product-details .product-title {
  color: #ffffff;
  font-size:xx-large;
  font-weight: 700;

}

.img-section {
  background-color: rgb(22, 19, 19);
  padding: 10px 2px;
}

.product-details i {
  font-size: x-large;
  margin:1rem 0rem;
}

.product-details p {
  font-size: x-large;
  padding-left: 0%;
  margin: 0;
  color: #b0abab;
}

.product-details {
  font-size: xx-small;
  padding: 5px;
}

.product-details hr {
  color: aliceblue;
  padding: 0px 2px 2px 0px;
  border: none;
}

.price {
  display: flex;
  color: #ffffff;
  justify-content: center;
  justify-content: space-between;
  margin: 0px;
  align-items: center;

  padding-right: 20px;
}

.price h2 {
  padding-left: 6px;
  font-size: xx-large;
}

.price strike {
  margin-top: 5px;
  padding-top: px;
  font-size: xx-large;
  color: rgb(63, 59, 59);
}

.product-details button {
  font-size: x-large;
  padding:0.2rem;
  font-weight: 400;
  border: none;
  border-radius: 2px;
  background-color: red;
  margin: 0.5rem;
  padding-top: 0;
  width:50%;
}

.product-details button:hover {
  background-color: #ffffff;
  color: black;

}

/* box style ends here */



/*  */

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.dot {
  height: 2rem;
  width: 2rem;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  font-size: xx-large;
}

.dot.active {
  background-color: red;
}

/* feature products ends here */
/* footer stars here */
/* General Reset */
h2,h5,h4,h3,p {
  color: #cbd5e1;
  font-size: x-small
}

a,li {
  list-style: none;
  text-decoration: none;
  color: #d1d5db;
}

/* Advantages Section */
.advantages {
  text-align: center;
  padding: 40px 20px;
  margin:5rem 0rem 0.5rem 0rem;
}

.advantages h2{
  margin:5rem;
  font-size: xx-large;
}

.advantage-items {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 30px;

}

.text-p {
  display: block
}

.text-p>p {
  font-size: larger;
}



.item {
  display: flex;
  gap: 20px;
  justify-self: center;
  align-items: center;
}

.icon {
  font-size: 40px;
  color: red;
  display: block;
  margin-bottom: 10px;
}

/* Footer Section */
footer {
  background-color: #0d0d0d;
  padding: 40px 20px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 40px; */
}

.newsletter {
  flex: 1;
  width: 40%;
}

.newsletter form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter input {
  padding: 10px;
  border: 1px solid #333;
  background: transparent;
  color: white;
  width:25%;
  width:300px

}

.card-parent {
  /* display: grid; */
  flex-wrap: wrap;
}

.newsletter button {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  width: 50%;
  border-radius: 2px;

}

.footer-links {
  display: flex;
  flex: 2;
  justify-content: space-between;
  width: 60%;
}

.footer-links div {
  /* width:100%; */
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.footer-links ul {
  padding: 0%;
}
.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}

.social-icons span {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

/* footer ends here */

/* footer starts here */
.main-table{
display: flex;
height:auto;
width: 100%;
height:auto;
/* flex-wrap: wrap; */
}
.pswd{
  width:100%;
  margin-right: 50px;
  padding: 0%;

}
.footer-fix{
  display: flex;
  width:100%;
}
.main-table td{
padding: 5%;
width:100%;
}
.main-table th{
padding: 5%;
font-size: x-large;
width:100%;
}
.footerwidths{
width:100%;
}
.footerwidths th,.footerwidths td{
  width:100%;
  display: flex;
  justify-content: center;

}

.footerwidths .sub-footer{
  width:250px;
  display: flex;
  justify-content: start;
}
.main-table input{
  background-color: #0d0d0d;
  outline: none;
  border: none;
  border:1px solid white;
  border-radius: 2px;
  height:2rem;
}
.main-table table{
width:100%;
height:100%;
display: flex;
justify-content: center;
align-items: center;
}
.main-table button{
width:100%;
background-color: red;
padding: 0.5rem 3rem;
}

/* media  */
@media (max-width:1023px ) {
 .box{
  width:300px;
 }
 header h1{
  margin: 0%;
 }
 nav{
  display: none;
 }
}
@media (max-width:985px ) {
  .main-table{
  width:100%;
column-gap: 30px;
  display: flex;
  flex-direction:column;
 }
.footer-fix{
  display: flex;
  justify-self: center;
  width:100%;
 }
 .footerwidths td{
   display: flex;
  justify-self: center;
  align-items: center;
  width:100%;
 }
 
 .pswd{
  width:100%;
 }
}
@media (max-width:767px ) {
  .main-table{
  width:100%;
 column-gap: 0px;
  display: flex;
 }
 .footer-fix{
  display: flex;
  flex-direction: column;
  justify-self: center;
  width:100%;
 }
}